body {
  margin: 0 auto;
  position: relative;
  height:700px;
}

.navigation{
	width:500px;
    height:50px;
    float:left;
    position:absolute;
    top:calc(4.5%);
    left:calc(62%);
	z-index:100;
}

.nav-item{
	display: inline-block;
	font-family: 'Hind';
	color:white;
	font-weight:300;
	font-size:24px;
	padding-right:30px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}

a { 
	text-decoration: none;
	color: inherit;
}

.container {
	height: 100%;
	width:100%;
	overflow: hidden; 
}

.full-page{
	width:100%;
	height:1400px;
	margin-top:0px;
	-webkit-transition: all 0.5s;
}

.section{
	display:block;
	position:relative;
	z-index:1;
	height:700px;
}

#homepage{
	display: block;
	overflow: hidden;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index:0;
}

.main-text{
	position:absolute;
	top:calc(50% - 20px);
	left:calc(50% - 450px);
	height:150px;
	width:900px;
}

#name{
	position:relative;
	height:90px;
	font-family: 'Hind';
	font-weight:300;
	font-size:70px;
	color:white;
	text-transform: uppercase;
	z-index:10;
}

#description{
	margin-left:75px;
	font-family: 'Droid Sans';
	font-size:36px;
	font-weight:700;
	display:inline-block;
	position:relative;
	color:white;
	padding-right:10px;
}

#fill-in{
	display:inline-block;
}

.fill-text{
	position:relative;
	color:white;
	border-bottom:2px solid;
	display:inline;
	font-family: 'Droid Sans';
	font-size:36px;
	font-weight:700;
}

.fill-active{
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}

.fill-inactive{
	display:none
}

.img-downarrow{
	position:absolute;
	display:block;
	top:550px;
	height:70px;
	left:calc(50% - 35px);
	width:90px;
    z-index:10;
    cursor: pointer;
}

#up{
	position:absolute;
	color:white;
	font-family:"Droid Sans";
	font-size:14px;
	top:calc(82%);
	height:70px;
	left:calc(50% - 32.5px);
	width:200px;
    z-index:10;
    cursor: pointer;
    font-weight:700;
}

#title{
	position:absolute;
	top:calc(50% - 200px);
	left:calc(50% - 75px);
	height:15px;
	width:600px;
	font-family:'Droid Sans';
	font-weight:700;
	font-size:40px;
	text-align: center;
	color:white;
}

#about{
	display:inline;
	position:absolute;
	top:calc(50% - 150px);
	left:calc(50% - 300px);
	height:300px;
	width:600px;
	font-family: 'Hind';
	color:white;
	text-align:justify;
}

.dropdown-box{
	position: absolute;
	background:#CC4040;
	width:150px;
	height:95px;
	z-index:100;
	font-family: 'Hind';
	color:white;
	font-weight:300;
	text-transform: lowercase;
	display:none;
	left: 0px;
}


.dropdown-box-active{
	opacity:0.9;
	visibility:visible;
}

.dropdown-text{
	margin-left:calc(50% - 75px);
	font-size:20px;
	width:150px;
	height:100px;
}
.dropdown-text ul{
	list-style-type: none; 
	padding: 0px;
    margin: 0px;
}

.dropdown-text ul li a { 
	text-decoration: none;
	color: inherit;
}

#portfolio:hover .dropdown-box {
	display:block;
}

.about-container{
	background:black;
	width:100%;
	height:100%;
}

.img-exp{
	position:absolute;
	height:50px;
	width:50px;
    z-index:10;
    cursor: pointer;
    left:-50px;
    float:left;
}

.img-edu{
	position:absolute;
	height:50px;
	width:50px;
    z-index:10;
    cursor: pointer;
    left:-120px;
    float:left;
}